{% extends 'base.html' %}
{% block content %}
 <!-- ======= Hero Section ======= -->
 <section id="hero">
    <div class="hero-container">
      <h1>Kiproroget High School</h1>
      <h2>Exellence Our Choice</h2>
      <a href="#about" class="btn-scroll scrollto" title="Scroll Down"><i class="bx bx-chevron-down"></i></a>
    </div>
  </section><!-- End Hero -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <h2 class="text-center">Recent News Feed</h2>
        <div class="row">
          {% for post in posts %}
          <div class="col-md-6">
            <h4>{{post.title}}</h4>
            <p>{{post.post}}</p>
            <img src="{{post.image.url}}" width="100%" alt="post image">
            <small>Date posted: {{post.date_posted|date}}</small>
          </div>
          {% endfor %}
        </div>
        
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
{% endblock %}