.footer {
    background-color: #151D20 !important;
}
.lower {
    text-transform: capitalize;
}
section {
    margin-top: 14vh;
}
header {
    background-color: #030306 !important;
    height: 14vh !important;
}