{% extends "admin_panel/base.html" %}
{% load bootstrap4 %}
{% block content %}
<div class="container-fluid home">
  {% if messages %}
  {% for message in messages %}
  <div class="row ">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <div class="alert text-center {{ message.tags }} alert-dismissible" role="alert" id="messages">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        {{ message }}
      </div>
    </div>
    <div class="col-md-4"></div>
  </div>
  {% endfor %}
  {% endif %}
  <div class="banner">
    <div class="container h-100">
      <div class="d-flex justify-content-center h-100">
        <form class="search-phone" action="" role="search">
        <div class="searchbar">
          <input class="search_input" type="text" name="name" placeholder="Search...">
          <button type="submit" class="search_icon"><i class="fas fa-search"></i></button>
        </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}